@using Microsoft.AspNetCore.Identity
@using App.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm"
    class="navbar-right mvc-navbar">
        <ul class="nav navbar-nav navbar-right mvc-navbar">
            <li class="nav-item">
                <a class="nav-link" asp-area="Identity" asp-controller="Manage" asp-action="Index" title="Manage">Hello
                    @UserManager.GetUserName(User)!</a>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn navbar-btn" title="Logout">
                    <i class=" logout-icon fa-solid fa-right-from-bracket"></i>
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Register">Signup</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Login">Signin</a>
        </li>
    </ul>
}