.categorySlugs ul, .categorySlugs li {
  list-style: none;
  padding-left: 10px;
}
.categorySlugs a {
  overflow: hidden;
  display: block;
  clear: both;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  text-decoration: none;
}
.categorySlugs a:hover {
  color: rgb(201, 75, 75);
}
.categorySlugs a.active {
  color: rgb(201, 75, 75);
  font-weight: 500;
}
.categorySlugs h3 {
  border-bottom: 1px solid;
  text-transform: uppercase;
  font-size: 1.3em;
  padding: 6px;
}
.categorySlugs > ul > li > a {
  font-weight: 700;
}

.view-post .post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}